@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;500;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Kanit, Helvetica, Arial, sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #dce2cb;
    color: #1a0303;
}

body.dark {
    background-color: rgb(35, 46, 6);
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: end;
    padding: 20px;
    gap: 1em;
}

main {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.hourlyForecasts div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body.dark header img {
    filter: brightness(0) invert(1);
}

body header img:hover {
    cursor: pointer;
}

img.weatherIcon {
    width: 50px;
    filter: grayscale(80) invert(100);
}

body.dark img.weatherIcon {
    filter: none;
}

h2 {
    font-size: 60px;
}

